{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
      <h1>Welcome to B Hive</h1>
      <img alt="" src={{ url_for('static', filename='beehive.png') }}/>
      <p class="lead">This application allows you to create your Hive and follow others to get the best deals, events and promotions you can find right in your area</p>
  </div>
    <p>A Beehive is an enclosed structure in which some honey bee species live and raise their young. Though the word beehive is commonly used to describe the nest of any bee colony, scientific and professional literature distinguishes <b>nest</b> from <b>hive</b>. <b>Nest</b> is used to discuss colonies which house themselves in natural or artificial cavities or are hanging and exposed. <b>Hive</b> is used to describe an artificial structure to house a honey bee nest. Several species of <i>Apis</i> live in colonies, but for honey production the western honey bee (<i>Apis mellifera</i>) and the eastern honey bee (<i>Apis cerana</i>) are the main species kept in hives.</p>
<p>The beehive's internal structure is a densely packed group of hexagonal prismatic cells made of beeswax, called a honeycomb. The bees use the cells to store food honey and pollen and to house the brood larvae, and pupae.</p>
<p>Beehives serve several purposes: production of honey, pollination of nearby crops, housing supply bees for apitherapy treatment, and to try to mitigate the effects of colony collapse disorder. In America, hives are commonly transported so that bees can pollinate crops in other areas. A number of patents have been issued for beehive designs.</p>


{% endblock %}